body {
  margin: 0;
  padding: 0;
  background: #79BD8F;
}
svg {
  transition: background-color 0.1s;
}
.scoreboard {
  width: 100%;
  background: #BEEB9F;
  color: #00A388;
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 10px;
  padding: 5px;
  box-shadow: 0 0 1px #00A388;
}
.board {
  width: 960px;
  height: 500px;
  margin: 0 auto;
}
.gameOver {
  background: #FF6138;
}
svg {
  background-color: #FFFF9D;
  width: 960px;
  height: 500px;
  margin: 0 auto;
}

.enemy {
  /*background: url('shuriken.png') no-repeat;*/
/*  position: absolute;
  animation:spin 2s linear infinite;*/
}
/*@keyframes spin {
from { -webkit-transform: rotate(0deg); }
to { -webkit-transform: rotate(360deg); }
}*/

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

